# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_df = pd.DataFrame(school_data)

total_schools = school_df["School ID"].count()
total_students = school_df["size"].sum()
total_budget= school_df["budget"].sum()

school_df.head()
print(total_schools, total_budget, total_students)

15 24649428 39170

In [2]:
school_data = school_data.rename(columns={"name":"school name"})
student_data = student_data.rename(columns={"school":"school name"})
# Combine the data into a single dataset
school_data_complete = pd.merge(school_data, student_data, how="left", on=["school name"])

school_data_complete.head()

,School ID,school name,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# total_schools = school_data_complete["School ID"].value_counts()
# total_students = school_data_complete["Student ID"].sum()
# total_budget= school_data_complete["budget"].sum()
avgmathscore = school_data_complete["math_score"].mean()
avgreadingscore = school_data_complete["reading_score"].mean()
passingmath = school_data_complete.query('math_score >70')["School ID"].count()/ total_students*100
passingreading = school_data_complete.query('reading_score >70')["School ID"].count()/ total_students*100
overallpassrate = (avgmathscore + avgreadingscore)/2
District_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                   "Total Students":[total_students],
                                   "Total Budget":[total_budget],
                                   "Average Math Score":[avgmathscore],
                                   "Average Reading Score":[avgreadingscore],
                                   "% Passing Math":[passingmath],
                                   "% Passing Reading":[passingreading],
                                   "% Overall Passing Rate":[overallpassrate]
})



District_summary_df = District_summary_df[["Total Schools",
"Total Students",
"Total Budget",
"Average Math Score",
"Average Reading Score",
"% Passing Math",
"% Passing Reading",
"% Overall Passing Rate"]]


District_summary_df

District_summary_df["Average Math Score"] = District_summary_df["Average Math Score"]
District_summary_df["Average Reading Score"] = District_summary_df["Average Reading Score"]
District_summary_df["Total Budget"] = District_summary_df["Total Budget"].map("${:,}".format)
District_summary_df["% Passing Math"] = District_summary_df["% Passing Math"]
District_summary_df["% Passing Reading"] = District_summary_df["% Passing Reading"]
District_summary_df["% Overall Passing Rate"] = District_summary_df["% Overall Passing Rate"]


District_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428",78.985371,81.87784,72.392137,82.971662,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [4]:
school_data_complete_new = school_data_complete[["School ID", "school name", "type", "size", "budget", "Student ID", "name",
                                                 "gender", "grade", "reading_score","math_score"]].copy()
school_data_complete_new.head()

,School ID,school name,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [5]:
# school_data_complete_new1 = school_data_complete_new.loc[school_data_complete_new["school name"] == "Wilson High School"]
# school_data_complete_new1.head()

In [6]:
# school_data_complete_new.head()
school_data_complete_new["School ID"].count()

39170

In [7]:
# for_sch_budget = school_df.groupby("name")
# total_budget_sch_wise = for_sch_budget["budget"].sum()


# total_budget_sch_wise.head()

In [8]:

grouped_school_data = school_data_complete_new.groupby(['school name', "type"])
# grouped_school_data.drop_duplicates(subset=[budget], keep=False)


total_students_grp = grouped_school_data["Student ID"].count()
# total_budget_grp = grouped_school_data["budget"]
# total_budget_grp_var = total_budget_grp/ total_students_grp
total_budget_grp = grouped_school_data["budget"].mean()
per_stu_budget_grp =  (total_budget_grp/ total_students_grp)
avgmathscore_grp = grouped_school_data["math_score"].mean()
avgreadingscore_grp = grouped_school_data["reading_score"].mean()
passingmath_grp = school_data_complete_new.query('math_score >70')["School ID"].count()/ total_students_grp
passingreading_grp = school_data_complete_new.query('reading_score >70')["School ID"].count()/ total_students_grp 
overallpassrate_grp = ((avgmathscore_grp + avgreadingscore_grp)/2)
  
# Converting a GroupBy object into a DataFrame
grouped_school_data_df = pd.DataFrame({"Total Students":total_students_grp,
                                       "Total School Budget": total_budget_grp, 
                                       "Per Student Budget":per_stu_budget_grp,
                                       "Average Math Score": avgmathscore_grp,
                                       "Average Reading Score": avgreadingscore_grp,   
                                       "% Passing Math":passingmath_grp,
                                       "% Passing Reading":passingreading_grp,
                                        "%Overall Passing Rate":overallpassrate_grp          
                                    
                                      
})

grouped_school_data_df = grouped_school_data_df[[  "Total Students",
    "Total School Budget",
    "Per Student Budget",
    "Average Math Score",
    "Average Reading Score",
     "% Passing Math",   
     "% Passing Reading",                                             
    "%Overall Passing Rate"]]


#grouped_school_data_df



grouped_school_data_df["Total School Budget"] = grouped_school_data_df["Total Students"].map("${:,.2f}".format)
grouped_school_data_df["Per Student Budget"] = grouped_school_data_df["Per Student Budget"].map("${:,.2f}".format)

grouped_school_data_df.head(10)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
school name,type,,,,,,,,
Bailey High School,District,4976,"$4,976.00",$628.00,77.048432,81.033963,5.698553,6.531350,79.041198
Cabrera High School,Charter,1858,"$1,858.00",$582.00,83.061895,83.975780,15.261572,17.491927,83.518837
Figueroa High School,District,2949,"$2,949.00",$639.00,76.711767,81.158020,9.615463,11.020685,78.934893
Ford High School,District,2739,"$2,739.00",$644.00,77.102592,80.746258,10.352683,11.865644,78.924425
Griffin High School,Charter,1468,"$1,468.00",$625.00,83.351499,83.816757,19.316076,22.138965,83.584128
Hernandez High School,District,4635,"$4,635.00",$652.00,77.289752,80.934412,6.117799,7.011866,79.112082
Holden High School,Charter,427,$427.00,$581.00,83.803279,83.814988,66.407494,76.112412,83.809133
Huang High School,District,2917,"$2,917.00",$655.00,76.629414,81.182722,9.720946,11.141584,78.906068
Johnson High School,District,4761,"$4,761.00",$650.00,77.072464,80.966394,5.955892,6.826297,79.019429
Pena High School,Charter,962,$962.00,$609.00,83.839917,84.044699,29.476091,33.783784,83.942308

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [9]:
Top_schools = grouped_school_data_df.sort_values(
    ["%Overall Passing Rate"], ascending=False)
Top_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
school name,type,,,,,,,,
Pena High School,Charter,962,$962.00,$609.00,83.839917,84.044699,29.476091,33.783784,83.942308
Wright High School,Charter,1800,"$1,800.00",$583.00,83.682222,83.955000,15.753333,18.055556,83.818611
Holden High School,Charter,427,$427.00,$581.00,83.803279,83.814988,66.407494,76.112412,83.809133
Thomas High School,Charter,1635,"$1,635.00",$638.00,83.418349,83.848930,17.343119,19.877676,83.633639
Wilson High School,Charter,2283,"$2,283.00",$578.00,83.274201,83.989488,12.420499,14.235655,83.631844

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [10]:
Bottom_schools = grouped_school_data_df.sort_values(
    ["%Overall Passing Rate"], ascending=True)
Bottom_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
school name,type,,,,,,,,
Rodriguez High School,District,3999,"$3,999.00",$637.00,76.842711,80.744686,7.090773,8.127032,78.793698
Huang High School,District,2917,"$2,917.00",$655.00,76.629414,81.182722,9.720946,11.141584,78.906068
Ford High School,District,2739,"$2,739.00",$644.00,77.102592,80.746258,10.352683,11.865644,78.924425
Figueroa High School,District,2949,"$2,949.00",$639.00,76.711767,81.158020,9.615463,11.020685,78.934893
Johnson High School,District,4761,"$4,761.00",$650.00,77.072464,80.966394,5.955892,6.826297,79.019429

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
students_gr_grade_df = student_data.groupby(['school name','grade']).reading_score.mean().unstack(level=1)



students_gr_grade_df

grade                       10th       11th       12th        9th
school name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [12]:
students_gr_grade_df = student_data.groupby(['school name','grade']).math_score.mean().unstack(level=1)



students_gr_grade_df

grade                       10th       11th       12th        9th
school name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [13]:
grouped_school_data_dfbn = grouped_school_data_df.copy()
#grouped_school_data_dfbn.head()

In [14]:
grouped_school_data_df3 = grouped_school_data_dfbn[["Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                     "%Overall Passing Rate"]]
grouped_school_data_df3.head()

,,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
school name,type,,,,,,
Bailey High School,District,$628.00,77.048432,81.033963,5.698553,6.531350,79.041198
Cabrera High School,Charter,$582.00,83.061895,83.975780,15.261572,17.491927,83.518837
Figueroa High School,District,$639.00,76.711767,81.158020,9.615463,11.020685,78.934893
Ford High School,District,$644.00,77.102592,80.746258,10.352683,11.865644,78.924425
Griffin High School,Charter,$625.00,83.351499,83.816757,19.316076,22.138965,83.584128

In [15]:
# grouped_school_data_df3["Per Student Budget"].astype(int)
# grouped_school_data_df3.head()

In [16]:
grouped_school_data_df3.dtypes

Per Student Budget        object
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
%Overall Passing Rate    float64
dtype: object

In [22]:
bins=[0,585,615,645,675]
bin_names = ["< $585", "$585-615","$615-645","$645-675"]
grouped_school_data_df3["Spending ranges (Per Student)"] = pd.cut(per_stu_budget_grp, bins, labels=bin_names)

sch_spn_math_scores = grouped_school_data_df3.groupby(["Spending ranges (Per Student)"]).mean()["Average Math Score"]
sch_spn_reading_scores = grouped_school_data_df3.groupby(["Spending ranges (Per Student)"]).mean()["Average Reading Score"]
sch_spn_passing_math = grouped_school_data_df3.groupby(["Spending ranges (Per Student)"]).mean()["% Passing Math"]
sch_spn_passing_reading = grouped_school_data_df3.groupby(["Spending ranges (Per Student)"]).mean()["% Passing Reading"]
sch_spn_overall_passing_rate = (sch_spn_math_scores + sch_spn_reading_scores)/2

score_by_school_spn_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

score_by_school_spn_df

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score
Spending ranges (Per Student),,,,,
< $585,83.694607,27.460725,31.473887,83.455399,83.933814
$585-615,83.742449,22.789153,26.119603,83.599686,83.885211
$615-645,80.485330,11.569445,13.260225,79.079225,81.891436
$645-675,79.012526,7.264879,8.326582,76.997210,81.027843

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
# Sample bins. Feel free to create your own bins.
bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [19]:
grouped_school_data_df3["Scores by School Size"] = pd.cut(total_students_grp, bins, labels=size_names)

sch_spn_math_scores = grouped_school_data_df3.groupby(["Scores by School Size"]).mean()["Average Math Score"]
sch_spn_reading_scores = grouped_school_data_df3.groupby(["Scores by School Size"]).mean()["Average Reading Score"]
sch_spn_passing_math = grouped_school_data_df3.groupby(["Scores by School Size"]).mean()["% Passing Math"]
sch_spn_passing_reading = grouped_school_data_df3.groupby(["Scores by School Size"]).mean()["% Passing Reading"]
sch_spn_overall_passing_rate = (sch_spn_math_scores + sch_spn_reading_scores)/2

score_by_school_size_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

score_by_school_size_df

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score
Scores by School Size,,,,,
Small (<1000),83.875721,47.941793,54.948098,83.821598,83.929843
Medium (1000-2000),83.619561,16.755263,19.203909,83.374684,83.864438
Large (2000-5000),79.545455,8.371576,9.595014,77.746417,81.344493

## Scores by School Type

* Perform the same operations as above, based on school type.

In [20]:
sch_spn_math_scores = grouped_school_data_df3.groupby(["type"]).mean()["Average Math Score"]
sch_spn_reading_scores = grouped_school_data_df3.groupby(["type"]).mean()["Average Reading Score"]
sch_spn_passing_math = grouped_school_data_df3.groupby(["type"]).mean()["% Passing Math"]
sch_spn_passing_reading = grouped_school_data_df3.groupby(["type"]).mean()["% Passing Reading"]
sch_spn_overall_passing_rate = (sch_spn_math_scores + sch_spn_reading_scores)/2

score_by_school_Type_df = pd.DataFrame({"Average Math Score":sch_spn_math_scores,
                                    "Average Reading Score":sch_spn_reading_scores,
                                    "% Passing Math":sch_spn_passing_math,
                                    "% Passing Reading":sch_spn_passing_reading,
                                    "% Overall Passing Rate": sch_spn_overall_passing_rate})

score_by_school_Type_df

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score
type,,,,,
Charter,83.685136,24.010050,27.518925,83.473852,83.896421
District,78.961685,7.793158,8.932066,76.956733,80.966636

In [21]:
# My Analysis

# As a whole, charter schools are definitely top performers as compared to disctrict schools. The data analysis of 
# top and bottom 5 schools clearly indicate the trend. 

# Overall, the average math and average reading scores, for grades 9th, 10th, 11th and 12th do not show a disparity.
# The student have consistent performance levels for both math and reading. For ex:Bailey High school
# avg math score for 10th grade is 76.99 and avg reading scores is 80.80.